@{
    ViewBag.Title = "Hesap Bilgilerimi Düzenle";
}

<div class="demo-section k-content">
    <div>
        <label for="radiogroup" class="label">Select language:</label>
        <ul id="radiogroup"></ul>
    </div>
</div>